################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Group_Project1/.vs/TinyCollege1/v16/Server/sqlite3/db.lock
